<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <h1>Register Your Account</h1>
    <form class="form" action="/register" method="post">
      <div class="container">
        <div class="name">
          <label for="name">Enter Your <b>Name</b>: </label>
          <input type="text" name="name" id="name" required />
        </div>

        <div class="username">
          <label for="username">Enter Your <b>Username</b>: </label>
          <input type="text" name="username" id="username" required />
        </div>

        <div class="password">
          <label for="password">Enter Your <b>Password</b>: </label>
          <input type="password" name="password" id="password" required />
        </div>

        <input type="submit" class="submit" value="Register" />
      </div>
    </form>

    <a href="/" class="back-button">Back to Login</a>
  </body>
</html>
